<main class="container">
  <form method="post" class="default-form">
    <div class="campo">
      <label for="password">New Password</label>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="campo">
      <input type="submit" value="Save Password" class="btn btn-blue">
    </div>
  </form>
</main>