<main class="container">
  <form action="/reset-password" method="post" class="default-form">
    <div class="campo">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="campo actions">
      <a href="/login">Login</a>
    </div>
    <div class="campo">
      <input type="submit" value="Reset Password" class="btn btn-blue">
    </div>
  </form>
</main>