<main class="list-vacancies">
  <h2>Vacancies List</h2>

  <div class="vacant">
    <div class="box">
      <h3>Facebook</h3>
      <p class="job-title">
        React Developer
      </p>
    </div>
    <div class="box">
      <p class="label">location</p>
      <p class="name">Remote</p>
    </div>
    <div class="box">
      <p class="label">Contract</p>
      <p class="name contract">Full Time</p>
    </div>
    <div class="box center-vertical">
      <a href="#" class="btn btn-green">More information</a>
    </div>
  </div>{{!-- Vacant  --}}

  <div class="vacant">
    <div class="box">
      <h3>AirBNB</h3>
      <p class="job-title">
        Node Developer
      </p>
    </div>
    <div class="box">
      <p class="label">location</p>
      <p class="name">Remote</p>
    </div>
    <div class="box">
      <p class="label">Contract</p>
      <p class="name contract">Full Time</p>
    </div>
    <div class="box center-vertical">
      <a href="#" class="btn btn-green">More information</a>
    </div>
  </div>{{!-- Vacant  --}}
</main>