<main class="list-vacancies">
  <h2>Navigation</h2>
  <div class="buttons separator">
    <a href="/edit-profile" class="btn btn-blue">Edit Profile</a>
    <a href="/vacancies/new" class="btn btn-green">New Vacancies</a>
  </div>
</main>