<main class="container">
  <form action="/login" method="post" class="default-form">
    <div class="campo">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email" required>
    </div>
    <div class="campo">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    <div class="campo actions">
      <a href="/create-account">Create account</a>
      <a href="/reset-password">I forgot my password</a>
    </div>
    <div class="campo">
      <input type="submit" value="Login" class="btn btn-blue">
    </div>
  </form>
</main>